<template>
  <v-container>
      <tables/>
      <newItem/>
      <CUdialog/>
  </v-container>
</template>

<script>
import tables from '../components/tables.vue'
import newItem from '../components/newItem.vue'
import CUdialog from '../components/CUdialog.vue'
export default {
    components:{
        tables,
        newItem,
        CUdialog
    },

}
</script>

<style>

</style>