<template>
<div>
    <v-form>
    <v-container>
    <v-row>
        <h1>GRADE</h1>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="point"
            type="int"
            :rules="[rules.required, rules.counter]"
            label="กรอกคะแนนของคุณ"
            solo-inverted
            counter
            maxlength="3"
            required
          ></v-text-field>
        <v-btn color="success" @click="display(point)">submit</v-btn>
        </v-col>  
    </v-row>
    </v-container>
  </v-form>
    
</div>


</template>

<script>
import { METHODS } from 'http'
export default {
  data: () => ({
      valid: true,
      point: "",
      grade: "",
      rules: {
        required:value => !! value || 'Point is required',
        counter: value => value.length <= 3 || 'Max 3 characters',
        required:value => (value && value.length <= 3) || 'Point must be less than 3 number'
      }

    }),
 methods:{
     display(point){
          if (!point) {
            this.grade = "กรุณากรอกคะแนน"
            alert(this.grade)
          } 
          else if (point <= 100 && point >= 80) {
            this.grade = "เกรดที่ได้ คือ A"
            alert(this.grade)
          }
          else if(point < 80 && point >= 70){
             this.grade = "เกรดที่ได้ คือ B"
            alert(this.grade)
          }
           else if(point < 70 && point >= 60){
             this.grade = "เกรดที่ได้ คือ C"
            alert(this.grade)
          }
          else if(point < 60 && point >= 50){
             this.grade = "เกรดที่ได้ คือ D"
            alert(this.grade)
          }
          else if(point < 50 && point >= 0){
             this.grade = "เกรดที่ได้ คือ F"
            alert(this.grade)
          }
          else if(point > 100){
            this.grade = "คะแนนของคุณไม่ถูกต้อง"
            alert(this.grade)
            
          }
         
     }
 }
}
</script>


