<template>
  <div>
       <h1 class="text-center font " style=" margin-top: 10px;">ALL MOVIES</h1>
       <v-container>

  <v-data-table
    :headers="headers"
    :items="movies"
    :items-per-page="10"
    class="elevation-1"
  >
  <template v-slot:item.action="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        edit
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        delete
      </v-icon>
    </template>


  </v-data-table>
   <v-btn block color="success"  @click="newItem">ADD MOVIE</v-btn>
   <New/>
              
       </v-container>
  </div>
</template>

<script>
import { EventBus } from '@/EventBus'
import New from '../components/New.vue'
export default {
    data () {
      return {
        headers: [
          {
            text: 'Name',
            value: 'name',
          },
          { text: 'Genre', value: 'genre' },
          { text: 'Director', value: 'director' },
          { text: 'Release date', value: 'release_date' },
          { text: 'Image', value: 'image' },
          { text: 'Action', value: 'action' }
        ],
        movies: [],
      }
    },
    components:{
        New
    },
    created(){
      this.getdata()
    },
    mounted () {
    EventBus.$on('getData', this.getdata) 
    },
    methods: {
    newItem () {
      EventBus.$emit('newItem')
    },
    async getdata(){
        try {
          var {data} = await this.axios.get('http://localhost/api/show.php')
          console.log(data)
          this.movies = data
        } catch (error) {
          console.log(error)
        }
      },
    editItem(item) {
      console.log(item);
      EventBus.$emit('editItem', item)
    },
    async deleteItem (item) {
      console.log(item)
      if (confirm('Are you sure you want to delete this item?')) {
        try {
            var { data } = await this.axios.get('http://localhost/api/delete.php?id_m='+ item.id_m)
            this.getdata()
        } catch (error) {
          console.log(error.message)
           this.getdata()
      }
      }
    }
  }
}
</script>

<style>

</style>