<template>
<div>
<!-- slide -->
<v-img
  :src="datas[0].image_T"
>
<div class="absolute">
<h1 class="text-center-left ">{{datas[0].name}}</h1>
<span>Genre : {{datas[0].genre}}  |  Rate : {{datas[0].rate}}  |  Release Date :  {{datas[0].release_date}}  |  Time : {{datas[0].time}} Mins</span>
</div>
</v-img>

<v-container style="background-color: #00000e;">
<div class="movie-detail-poster">
  <div class="container">
    <div class="movie-detail-poster-wrapper">

     
      <div class="movie-main-detail" style="padding-top: 50px;">
        <div class="img">
          <v-img
                  height="400"
                  width="270"
                :src="datas[0].image"
          ></v-img>
        </div>
        <h2>{{datas[0].name}}</h2><br>
        <h4>Genre : {{datas[0].genre}} </h4>
        <h4>Rate : {{datas[0].rate}}  </h4>
        <h4>Release Date :  {{datas[0].release_date}} | Time : {{datas[0].time}} Mins</h4>
        <h4>Director : {{datas[0].director}}  </h4><br>
        <span>    {{datas[0].detail}}</span>       
      </div>
    </div>
  </div>
</div>

</v-container>

<v-container >
  <div>
<h1 class="text-center font " style=" margin-top: 50px;">TRAILER</h1>
</div>
</v-container>
<div class="text-center trailer" style="background-color: #00000e;" > 
    <iframe width="560" height="315" 
    :src="datas[0].trailer" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>

  





</div>

</template>

<script>
export default {
    data () {
        this.$route.params.Id_movie; 
    return {
    datas: [],
    }
  },
  mounted () {
    EventBus.$on('newItem', this.newItem)
  },
  created(){
      this.getdata()
  },
  mounted () {
    EventBus.$on('getData', this.getdata) 
  },
 methods: {
    async getdata(){
        try {
          var {data} = await this.axios.get('http://localhost/api/detail.php?Id_movie='+  this.$route.params.Id_movie)
          console.log(data)
          this.datas = data
        } catch (error) {
          console.log(error)
        }
      }
  }

}

</script>

<style>
.absolute {
    position: absolute;
    bottom: 100px;
    color: white;
    margin-left: 30px;
}
.dMovie{
   color: white;
}
.img {
    float: left;
    margin: 20px;
}
.movie-detail-poster {
    padding: 60px 0;
    position: relative;
}
.movie-detail-poster .movie-detail-poster-wrapper {
    position: relative;
}
.movie-detail-poster .movie-main-detail {
    border-radius: 10px;
    width: 90%;
    float: right;
    min-height: 458px;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.1);
    padding: 40px 40px 40px 40px;
    margin-bottom: 20px;
}

.text-center.trailer {
    margin-top: 20px;
    margin: 20px;
}
</style>