<template>
  <v-dialog v-model="dialog" max-width="700px">
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12>
              <v-text-field v-model="editedItem.name" label="Name"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-textarea v-model="editedItem.detail" label="Detail"></v-textarea>
            </v-flex>
              <v-flex xs12>
              <v-text-field v-model="editedItem.director" label="Director"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
              <!-- <v-text-field v-model="editedItem.genre" label="Genre"></v-text-field> -->
            <v-select
              v-model="editedItem.genre"
              :items="Genre"
              :rules="[v => !!v || 'Item is required']"
              label="Genre"
              required
            ></v-select>
             </v-flex>
             <v-flex xs12 sm6>
               <v-select
              v-model="editedItem.Rate"
              :items="Rate"
              :rules="[v => !!v || 'Item is required']"
              label="Rate"
              required
            ></v-select>
              <!-- <v-text-field v-model="editedItem.rate" label="Rate"></v-text-field> -->
            </v-flex>
            <v-flex xs12>
              <v-text-field v-model="editedItem.release_date" type="Date" ></v-text-field>
             
            </v-flex>
           
            <v-flex xs12 sm6>
              <v-text-field v-model="editedItem.time" label="Time"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field v-model="editedItem.trailer" label="Trailer"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field v-model="editedItem.image" label="Image"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field @keyup.enter="save" v-model="editedItem.image_T" label="Image_T"></v-text-field>
            </v-flex> 
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text  @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="save">save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { EventBus } from '@/EventBus'
import { copyFile } from 'fs'
export default {
  data () {
    return {
     Rate: [
        '13',
        '18+',
        '20+',
        'TBC',
        'G',
      ],
      Genre: [
        'Music',
        'Fantasy',
        'Crime',
        'Action',
        'Adventure',
        'Comedy',
        'Animation',
      ],
      dialog: false,
      formTitle: '',
      editedItem: {
        name: '',
        release_date: '',
        detail: '',
        genre: '',
        rate: '',
        time: '',
        director: '',
        trailer: '',
        image: '',
        image_T: '',

      },
      action: ''
    }
  },
  mounted () {
    EventBus.$on('newItem', this.newItem)
    EventBus.$on('editItem', this.editItem)
  },
  methods: {
    close () {
      this.dialog = false
    },
    newItem () {
      this.formTitle = 'New Item'
      this.action = 'newItem'
      this.dialog = true
    },
    editItem (item) {        
      this.formTitle = 'Edit Item'
      this.action = 'editItem'
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    async save () {
        const config = {
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
            }
            const queryString = require('query-string')
      if(this.action === 'newItem') {
        try {
          var {data} = await this.axios.post('http://localhost/api/add.php', queryString.stringify({
            name: this.editedItem.name,
            release_date:this.editedItem.release_date,
            detail: this.editedItem.detail,
            genre: this.editedItem.genre,
            rate: this.editedItem.rate,
            time: this.editedItem.time,
            director: this.editedItem.director,
            trailer: this.editedItem.trailer,
            image: this.editedItem.image,
            image_T: this.editedItem.image_T
          }),config)
          console.log(data)
          EventBus.$emit('getData')
          this.dialog = false
        }catch (error) {
          console.log(error.message)
        }
      }
      else if(this.action === 'editItem') {
           const config = {
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
            }
            const queryString = require('query-string')
     try {
        var {data} = await this.axios.post('http://localhost/api/edit.php?id_m='+ this.editedItem.id_m ,queryString.stringify(this.editedItem),config)
          console.log('editedItem:',this.editedItem,'DATA: ',data)
          EventBus.$emit('getData')
          this.dialog = false
        } catch (error) {
            console.log(error.message)
        }
      }
    }
  }
}
</script>
