<template>
 <v-btn block color="primary"  @click="newItem">New Person</v-btn>
</template>

<script>
import { EventBus } from '@/EventBus'
export default {
 methods: {
   newItem () {
     EventBus.$emit('newItem')
   }
 }
}
</script>

