<template>
  <div>
  <v-data-table
    :headers="headers"
    :items="desserts"
    :items-per-page="5"
    class="elevation-1"
  >
  <template v-slot:item.action="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        edit
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        delete
      </v-icon>
    </template>
  </v-data-table>
  </div>
</template>

<script>
import { EventBus } from '@/EventBus'
export default {
    data () {
      return {
        headers: [
          {
            text: 'รหัสใน DB',
            align: 'center',
            sortable: false,
            value: '_id',
          },
          { text: 'ชื่อ', value: 'firstname' },
          { text: 'นามสกุล', value: 'lastname' },
          { text: 'Tel', value: 'tel' },
          { text: 'LineID', value: 'lineid' },
          { text: 'Action', value: 'action' },
        ],
        desserts: [],
      }
    },
    created(){
      this.getdata()
    },
    mounted () {
    EventBus.$on('getData', this.getdata) 
    },
    methods: {
    async getdata(){
        try {
          var {data} = await this.axios.get('http://labkk.ga:3000/persons')
          console.log(data)
          this.desserts = data
        } catch (error) {
          console.log(error)
        }
      },
    editItem(item) {
      console.log(item);
      EventBus.$emit('editItem', item)
    },
    async deleteItem (item) {
      console.log(item)
      if (confirm('Are you sure you want to delete this item?')) {
        try {
            var { data } = await this.axios.delete(
              'http://labkk.ga:3000/person/' + item._id)
            this.getdata()
        } catch (error) {
          console.log(error.message)
           this.getdata()
      }
      }
    }
  }
}
</script>

<style>

</style>